/* styles.css */

* {
    background-color: lightgrey;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
}

/* lists and their elements are default display:block */
.recipe-list {
    text-align: center;
}

ul {
    display: inline-block;
}



